html{
    background-color: slateblue;
}

#photoPulse{
    border-radius:50%;
}

#jobTitle{
    padding-top: 2.5vh;
}

#hook{
    text-shadow: 2px 2px 2px #000;
    text-align: justify;
    padding-top: 5vh;
}

.modal{ 
    margin-left:35vw;
    width: 50vw !important ; 
    height: 60vh !important ; 
    overflow-x:hidden;
} 

@media screen and (max-width: 992px) {
    .modal{ 
        margin-left:5vw;
        width: 90vw !important ; 
        height: 90vh !important ; 
    } 
  }



.subSection{
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: white;
}

.logoPerso{
    height: 40px;
    margin-left: 2vh;
}

#mailFooter{
    margin-bottom: 4vh;
}

.page-footer{
    background-color: #00897b ;
}   