html{
    background-color: slateblue;
}

.parallax-container {
    height: 60vh;
}

#jobTitle{
    padding-top: 2.5vh;
}

#accroche{
    color: white;
    text-align: justify;
    padding-top: 5vh;
}
