html{
    background-color: slateblue;
}

.parallax-container {
    height: 60vh;
}

#jobTitle{
    padding-top: 2.5vh;
}

#hook{
    text-shadow: 2px 2px 2px #000;
    text-align: justify;
    padding-top: 5vh;
}

.subSection{
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: white;
}

.logoPerso{
    height: 40px;
    margin-left: 2vh;
}

#mailFooter{
    margin-bottom: 4vh;
}

.page-footer{
    background-color: #00897b ;
}