html{
    background-color: slateblue;
}

#jobTitle{
    padding-top: 2.5vh;
}

#hook{
    text-shadow: 2px 2px 2px #000;
    text-align: justify;
    padding-top: 5vh;
}

.modal{ 
    margin-left:35vw;
    width: 50vw !important ; 
    height: 60vh !important ; 
    overflow-x:hidden;
} 

@media screen and (max-width: 992px) {
    .modal{ 
        margin-left:5vw;
        width: 90vw !important ; 
        height: 90vh !important ; 
    }
}


/* Slider headings */
h2 {
    padding-top: 5%;
}

@media screen and (max-width: 1196px) {
    .swiper-button-prev-custom{
        visibility: hidden;
    }
    
    .swiper-button-next-custom{
        visibility: hidden;
    }
}

/* Slider arrows */
.swiper-button-prev-custom{
    cursor: pointer;
    display: block;
    float: left;  
    z-index: 3;
    position: absolute;
    left: 5%;
    top: 5%;
}
.swiper-button-next-custom{
    cursor: pointer;
    display: block;
    float: right;  
    z-index: 3;
    position: absolute;
    right: 5%;
    top: 5%;
}


a {
    text-decoration: underline;
    color:white;
}

a:hover {
    cursor:pointer
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #ffffff; }
    40% { box-shadow: 0 0 40px #ffffff; }
    60% { box-shadow: 0 0 60px #ffffff; }
    100% { box-shadow: 0 0 -10px #ffffff; }
}
  
.linkTo {
  border-radius: 50%;
  animation: glowing 5000ms infinite;
}

.subSection{
    padding-bottom: 2vh;
    padding-top: 2vh;
    color: white;
}

.logoPerso{
    height: 40px;
    margin-left: 2vh;
}

.logoLink {
    text-decoration: none;
}

#opquastLogo{
    height: 80px;
    margin-top: 2vh;
}

#mailFooter{
    margin-bottom: 4vh;
}

.page-footer{
    background-color: #00897b ;
}   